.chat-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .chat-container {
    width: 60%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-message {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    text-align: left;
  }

  .message-owner{
    font-weight: bold;
  }
  
  .chat-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #dddddd;
  }
  
  .chat-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  .chat-button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
    outline: none;
    width: 70px;
    height: 38px;
  }
  
  .chat-button:hover {
    background-color: #45a049;
  }